
a {
    display: flex;
    flex-direction: column;
}


img {
    max-width: 250px;
    height: 250x;

}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    text-align: center;
}