
:root {
    background-color: white
}

a {
    display: flex;
    flex-direction: column;
}


img {
    max-width: 250px;
    height: 250x;

}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    text-align: center;
}
.inputForm {
    display: flex;
    margin-left: 110px;
    margin-bottom: 50px;
}

.inputForm input {
    margin-left: 10px;
}

.inputForm label {
    margin-left: 10px;
}
.btn {
    width: 150px;
    height: 24px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
}

.btn:hover {
    background-color: green; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
}

.main {
    display: flex;
    height: 200vh;
    width: 500px;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
}

.search {
    width: 30%;
}

ul li {
    font-size: 20px;
} 
