
.title {
    margin: 0;
}

.title span {
    color: rgb(232, 8, 120);
}

.container {
    display: flex;
    justify-content: center;
    background:transparent;
    overflow: hidden;
    background-image: url("../images/backgroundHome.jpg");
    transform: skewY(30deg);
    z-index: -101;
    height:50vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;    
}

.topActorPair {
    transform: skewY(-30deg);
}

.topActorPairContainer div {
    font-size: 32px;
}

.topActorPairContainer {
    background-color:burlywood;
    width: 500px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.topActorPairContainer li strong {
    font-size: 24px;
    color:  #242424;
}

.totalSharedMovies {
    background-color:cadetblue ;
    width: 500px;
    border-radius: 15px 30px;
    margin-bottom: 5px;
}

.totalSharedMovies  {
    font-size: 24px;
    color: white;
}

.totalSharedMovies strong {
    color:  #242424;;
    font-size: 24px;

}

.listOfMovieTitles {
    background-color:chocolate;
    font-size: 24px;
    width: 500px;
    border-radius: 35px 10px;
}
.listOfMovieTitles strong {
    color:  #242424;;
}

@media only screen and (max-width: 930px) {
    .container {
        width: 940px;
        height: 400px;
    }
}