.ulList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.detailsMovie {
  transition-duration: 0.4s;
  border-radius: 3px;
  width: 250px;
  height: 50px;
  border: none;
  align-items: center;
}

.detailsMovie:hover {
  background-color: red; /* Green */
  color: white;
}

li span {
    color:orange;
    margin-bottom: 10px;
}

.roleChange {
    color: orange;
    font-size: 28px;
}

.movieDetailMovie {
    background-color: rgb(61, 34, 34);
    border-radius: 15px 40px;
    /* border: 1px solid brown; */

}
.movieDetailMovie div:nth-child(2) {
  color: white;
}

.movieDetailMovie div:nth-child(4) {
  color: white;
}

.btnChangeActorName {
  width: 150px;
  height: 35px;
  border: none;
  padding: 0;
  border-radius: 5px;
}

.btnChangeActorName:hover {
  background-color: rgb(0, 17, 255); /* Green */
  color: white;
}

a {
  display: flex;
  align-items: center;
}

.updateActor {
  width: 150px;
  height: 25px;
  border: none;
  padding: 0;
  border-radius: 5px;
}

.updateActor:hover {
  background-color: rgb(0, 17, 255); /* Green */
  color: white;
}

.deleteActor {
  width: 100px;
  height: 20px;
  border: none;
  padding: 0;
  border-radius: 5px;
}

.deleteActor:hover {
  background-color: rgb(255, 136, 0); /* Green */
  color: white;
}