.actorsUpdate {
    display: flex;
    flex-direction: column;
}

.actorsUpdate div:nth-child(1) {
    color: black;
}

.actorsUpdate div:nth-child(2) {
    color: black;
}

.actorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.updateBtnRoleMovie {
  margin-bottom: 25px;
}

.textColor {
    color: black;
}