.actorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.actorContainer div:nth-child(1) {
   color: black;
   font-size: 32px;
}

.actorUpdateNameBtn {
  width: 150px;
  height: 20px;
  border: none;
  padding: 0;
  border-radius: 5px;
}

.actorUpdateNameBtn:hover {
  background-color: rgb(0, 55, 255); /* Green */
  color: white;
}

#btnUpdateActor {
  margin-top: 20px;
}